*, ::after, ::before{
    color: #333333;
    font-size: 18px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
    background-color: #E2E1DD;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}




.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img {
    width: 100%;
    max-width: 163px;
}

.top__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 33px;
}
.top__title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 9px;
    max-width: 800px;
}
.top__description {
    font-size: 22px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    margin-bottom: 31px;
}
.top__link {
    
    padding: 23px;
    background-color: #333333;
    color: #fff;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 242px;
    transition: all .3s;
    width: 100%;
}

.top__link:hover{
    opacity: 0.8;
}


.gallery{
width: 100%;
margin-top: 130px;
display: flex;
justify-content: center;
}



.descr{
    padding-top: 130px;
    margin-bottom: 130px;
}

.descr__blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}
.descr__block {
    width: 604px;
}

.descr__block:nth-child(1) {
    margin-right: 70px;
}

.desct__img {
    width: 100%;
}
.descr__title {
    font-size: 40px;
    font-weight: 700;
    max-width: 490px;
    margin-bottom: 5px;
    line-height: 48px;
}
.descr__text {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    margin-bottom: 23px;
    font-size: 18px;
    max-width: 490px;
}
.descr__sub-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 23px;

}
.descr__text-wrap {
    max-width: 500px;
}
.descr__text-line {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 18px;
    max-width: 500px;

}
.descr__text-line::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333333;
    margin-top: 23px;
}

.descr__link{
    padding: 15px;
    background-color: #333333;
    color: #fff;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 242px;
    transition: all .3s;
    width: 100%;
    margin-top: 60px;
}

.descr__link:hover{
    opacity: 0.8;
}


.steps {
    margin-top: 130px;
    margin-bottom: 130px;
}
.steps__inner {
    padding-bottom: 69px;
    position: relative;
}
.steps__inner::after{
    content: '';
    border-bottom: 1px solid #333333;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .3;
}

.steps__title {
    font-size: 40px;
    font-weight: 700;
    color: #333333;
    line-height: 48px;
    margin-bottom: 21px;
}
.steps__desr {
    font-size: 18px;
    line-height: 29px;
    color: #333333;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    max-width: 600px;
    margin-bottom: 21px;
}
.steps__boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.steps__box {
    background-color: none;
}
.steps__box-img {
}
.steps__img {
    width: 344px;
    margin-bottom: 8px;
}
.steps__box-descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.steps__box-title {
    color: #333333;
    font-style: 16px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
}
.steps__box-line {
    width: 38px;
    height: 1px;
    background-color: #333333;
    display: block;
    z-index: 1;
}








.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-slick {
    max-width: 1280px;
    height: auto;
}
.gallery__slider {
    position: relative;
}
.gallery__slide {
}
.gallery__slide img{
    width: 100%;
    padding: 0 15px;
}

.slick-right, .slick-left{
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    top: 50%;
    transition: all .3s;
    z-index: 2;
    cursor: pointer;
}

.slick-right:hover, .slick-left:hover{
    opacity: 0.9;
}


.slick-left{
    left: -75px;

}
.slick-right{
    right: -75px;
    
}


.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots button {
    font-size:0;
    padding:0;
    cursor: pointer;
    }
.slick-dots li button{
    width:8px;
    height:8px;
    border-radius: 100%;
    border: none;
    background-color: #333333;
    
    } 
    .slick-dots li{
        transition: all .3s;
        width: 100%;
        max-width: 8px;
        margin-left: 8px;
    }
    .slick-dots button{
        transition: all .3s;
    }
.slick-active button{
    width: 10px!important;
    height: 10px!important;
    opacity: .8;
}
    .slick-dots button:hover{
        opacity: .9;
    }



    .footer {
        border-top: 1px solid #333333;
        padding-top: 84px;
        padding-bottom: 50px;
        margin-top: 100px;
    }
    .footer__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__logo img{
        width: 100%;
        max-width: 138px;
    }
    .footer__links {
        gap: 20px;
        display: flex;
        align-items: center;
    }
    .footer__link{
        cursor: pointer;
    }



    ul.slick-dots {
        max-width: 100%;
    }













    .last {
        margin-top: 130px;
        margin-bottom: 20px;
    }
    .last__inner {
        display: flex;
        justify-content: space-between;
    }
    .last__descr {
        margin-right: 20px;
    }
    .last-title {
        font-size: 40px;
    font-weight: 700;
    color: #333333;
    line-height: 48px;
    margin-bottom: 21px;
    }
    .last__list {
        list-style-type: circle!important;
        margin-left: 20px;  
    }
    .last__list-item {
        font-size: 18px;
    line-height: 29px;
    color: #333333;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    max-width: 600px;
    margin-bottom: 5px;
    }
    .last__img img{
        width: 100%;
        max-width: 575px;
    }
    .delete {
    }
    .delete__inner {
    }
    .delete__title {
        font-size: 40px;
    font-weight: 700;
    color: #333333;
    line-height: 48px;
    margin-bottom: 21px;
    }
    .delete__list {
        list-style-type: circle!important;
        margin-left: 20px; 
    }
    .delete__list-item {
        font-size: 18px;
    line-height: 29px;
    color: #333333;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    max-width: 600px;
    margin-bottom: 15px;
    }


.img-2{
    display: none;
}





    @media(max-width: 1320px){
        .gallery__slide img{
            padding: 0;
        }
        .container-slick{
            width: 100%;
            padding: 0 15px;
        }
    }
    @media(max-width: 1280px){
        .steps__box{
            width: 100%;
        }
        img.steps__img{
            width: 100%;
        }

        .last__inner{
            flex-direction: column;
        }
        .img-2 {
        display: block;
        }
        .img-2 img{
            display: block;
            width: 100%;
            margin-top: 20px;
        }
        .last__img{
            display: none;  
        }
        .last__list-item{
            max-width: 100%;
        }
    }

    @media(max-width: 1180px){
        .steps__box-title{
            font-size: 16px;
            /* height: 40px; */
        }
        .steps__box-descr{
            align-items: start;
        }
        .steps__box-line{
            display: none;  
        }
    }

    @media(max-width: 1105px){
        .desct__img{
            display: none;
        }

        .descr__block:nth-child(1){
            display: none;  
        }
        .descr__blocks{
        }
        .descr__block{
            width: 100%;
        }


        .descr__title {
            max-width: 100%;
        }
        .descr__text {
            max-width: 100%;
        }
        .descr__sub-title {
            max-width: 100%;
        }
        .descr__text-wrap {
            max-width: 100%;
        }
        .descr__text-line {
            max-width: 100%;
        }
        .descr__link {
        }
    }

    @media(max-width: 970px){
        .footer{
            margin-top: 50px;
        }
        .steps__boxes{
            gap: 0;
            flex-wrap: wrap;
        }
        .steps__box{ 
            margin-bottom: 20px;   
        }
    }

    @media(max-width: 750px){

        
        .top__title {
            font-size: 30px;
        }
        .top__description {
            font-size: 20px;
        }
        .top__inner {
            margin-top: 15px;
        }
        .top__link {
            width: 196px;
            padding: 16px 0;
        }
        .gallery{
            margin-top: 50px;
        }




        .descr__title{
            font-size: 25px;
        }
        .descr__text{
            font-size: 16px;
        }
        .descr__sub-title{
            font-size: 18px;
        }
        .descr__text-line{
            font-size: 16px;
        }
        .descr{
padding-top: 0;
margin-top: 50px;
margin-bottom: 50px;
        }
        a.descr__link{
            max-width: 345px;
            width: 100%;
            margin-top: 20px;
        }

        .steps__inner{
            padding-bottom: 20px;
        }
        .steps__title{
font-size: 25px;    
margin-bottom: 10px;
        }
        .steps__desr{
            font-size: 16px;
        }
.last-title,.delete__title{
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px; 
}
        .steps{
            margin-bottom: 50px;
            margin-top: 0px;
        }
    }

    @media(max-width: 570px){
        section.last{
            margin-top: 50px;
        }
        h4.last-title{
            max-width: 296px;
        }
        .last__descr{
            margin-right: 0;
        }
        .top__inner {
            margin-top: 0;
        }
        .top__title{
            max-width: 380px;
        }
        img.logo-img {
            max-width: 115px;
        }
        .top__description{
            margin-bottom: 20px;
            font-size: 18px;
        }
        .top__link {
            width: 345px;
        }
    }
    @media(max-width: 390px){
        .footer{
padding-bottom: 40px;
padding-top: 20px;  
        }
        .footer__inner{
            flex-wrap: wrap;
            justify-content: center;
            max-width: 294px;
            align-items: center;
            margin: 0 auto;
        }
        .footer__logo img{
            margin-bottom: 20px;
        }
    }

    @media(max-width: 374px){
        .top__title {
            font-size: 20px;
        }
        .top__description {
            font-size: 15px;
        }
    }